article {
  padding: 2rem;
}

section {
  margin: 3rem 0 5rem 0;
}

.sec-title {
  padding: 1rem;
  border-bottom: solid 2px #1c89c9;
  font-size: 2rem;
  margin: 0 5rem 2rem 5rem;
  text-transform: uppercase;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  border: solid 1px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  padding: 0.4rem;
  margin: 0.5rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.08),
    -0.5rem -0.5rem 2rem rgba(0, 0, 0, 0.08);
  transition: .20s;
}

.grid-item:hover {
  background-color: rgb(28, 137, 201);
}

.grid-item:hover .img-title{
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
}

.link-to-city {
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.img-city {
  object-fit: cover;
  width: 25rem;
  height: 15rem;
}

.img-title {
  font-size: 1.6rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.8rem;
  color: #fff;
  top: 11rem;
  margin-left: 0;
  width: 25rem;
}

.text-content {
  font-size: 1.6rem;
  text-align: justify;
  word-wrap: break-word;
  margin: 1rem 10rem 0 10rem;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#msg {
  font-size: 1.6rem;
  word-wrap: break-word;
  margin: 0 11rem 0 11rem;
  text-align: justify;
  cursor: text;
}

#feedback-field {
  padding: 0.5rem;
  font-size: 1.4rem;
  border: solid 1px #000;
  margin: 2rem 2rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.08),
              -0.5rem -0.5rem 2rem rgba(0, 0, 0, 0.08);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #fff;
  background: linear-gradient(rgb(28, 137, 201), rgb(11, 92, 139));
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.08),
              -0.5rem -0.5rem 2rem rgba(0, 0, 0, 0.08);

  transition: filter 0.2s;
}

.submit:hover {
  filter: brightness(0.7);
}

.submitText {
  margin: .6rem .3rem .3rem .3rem;
}

.sendIcon {
  margin: .3rem;
}

@media (max-width: 1000px) {
  .submitText {
    font-size: 1.6rem;
  }
}

@media (max-width: 991px) {
  .text-content {
    font-size: 2rem;
  }

  #msg {
    font-size: 2rem;
  }

  .grid-item:hover {
    background-color: #fff;
  }
  
  .grid-item:hover .img-title{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .grid-item:active {
    background-color: rgb(28, 137, 201);
  }

  .grid-item:active .img-title {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 630px) {
  .text-content {
    margin: 1rem 6rem 0 6rem;
    font-size: 2rem;
  }

  #msg {
    margin-left: 5rem;
    font-size: 2rem;
    margin-right: 5rem;
  }
}

@media (max-width: 470px) {
  .sec-title {
    margin: 0 3rem 2rem 3rem;
    text-transform: uppercase;
  }

  .grid-item {
    margin: 1rem;
  }

  .img-city {
    width: 35rem;
    height: 20rem;
  }

  .img-title {
    font-size: 2rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 1rem;
    color: #fff;
    top: 15rem;
    margin-left: 0rem;
    width: 35rem;
  }

  .text-content {
    font-size: 2rem;
    text-align: justify;
    margin: 1rem 5rem 0 5rem;
  }

  .feedback-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #msg {
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  #feedback-field {
    font-size: 2rem;
    margin: 3rem 0 3rem 0;
  }

  .submit {
    font-size: 2rem;
  }

  .submitText {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .text-content {
    margin: 1rem 3rem 0 3rem;
  }
}

@media (max-width: 320px) {
  #feedback-field {
    max-width: 70vw;
  }
}
