article {
  margin-top: 15rem;
}

/* INTRO STYLES */

.intro-section {
  padding: 5rem 10rem 5rem 10rem;
}

.intro-section-title {
  padding: 1rem;
  border-bottom: solid 2px rgb(28, 137, 201);
  font-size: 2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.dynamicContent {
  font-size: 1.8rem;
  text-align: justify;
  word-wrap: break-word;
  margin: 0 7rem 1rem 7rem;
}

.alert {
  padding: 0;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: justify;
  word-wrap: break-word;
  margin: 0 7rem 0 7rem;
}

/* TABLE STYLES */

.tables-section {
  padding: 5rem;
}

.tables-section-title {
  padding: 1rem;
  border-bottom: solid 2px rgb(28, 137, 201);
  font-size: 2rem;
  margin: 0 5rem 2rem 5rem;
  text-transform: uppercase;
}

.table-container {
  margin: 5rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.08),
              -0.5rem -0.5rem 2rem rgba(0, 0, 0, 0.08);
}

.table-container-title {
  padding: 1rem;
  font-size: 2rem;
  background: linear-gradient(rgb(143, 214, 255), rgb(28, 137, 201));
  color: #111;
  margin: 0;
  border: solid 1px #000;
  border-bottom: 0;
}

.MyTable {
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.tableColumns {
  flex: 1;
  min-width: 10rem;
  min-height: 5rem;
  border: solid 1px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.tableHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #333;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem .5rem 1rem .5rem;
  word-break: break-all;
}

.tableContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem .5rem 1rem .5rem;
}

/* ERROR MESSAGES STYLES */

.emptyContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border: solid 1px #000;
}

.emptyMsg {
  font-size: 1.8rem;
  font-weight: bold;
  color: crimson;
}

/* MEDIA */

@media (max-width: 991px) {
  article {
    margin-top: 10rem;
  }

  .intro-section {
    padding: 3rem;
  }

  .dynamicContent {
    font-size: 1.8rem;
    margin: 0 5rem 1rem 5rem;
  }

  .alert {
    font-size: 1.8rem;
    margin: 0 5rem 0 5rem;
  }

  .tables-section {
    padding: 3rem;
  }

  .table-container {
    margin: 3rem;
  }
}

@media (max-width: 500px) {
  .intro-section {
    padding: 3rem;
  }

  .dynamicContent {
    font-size: 1.8rem;
    margin: 0 3rem 1rem 3rem;
  }

  .alert {
    font-size: 1.8rem;
    margin: 0 3rem 0 3rem;
  }

  .tables-section {
    padding: 2rem;
  }

  .table-container {
    margin: 2rem;
  }
}
