.map-section {
    padding: 5rem 10rem 5rem 10rem;
}

.map-section-title {
    padding: 1rem;
    border-bottom: solid 2px rgb(28, 137, 201);
    font-size: 2rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

iframe {
    height: 50rem;
    width: 100%;
    border: solid .5rem rgb(143, 214, 255);
    border-radius: 3px;
    filter: drop-shadow(.5rem .5rem 1rem rgba(0, 0, 0, 0.08))
            drop-shadow(-.5rem -.5rem 1rem rgba(0, 0, 0, 0.08));
}

@media (max-width: 991px) {
    .map-section {
        padding: 5rem 3rem 5rem 3rem;
    }

    iframe {
        height: 40rem;
    }
}
