.homeHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#1c8aca, #0b5c8b);
  border-bottom: solid 5px #1c89c9;
  padding: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  align-self: center;
  margin: 0 .5rem 0 .5rem;
}

.logo {
  max-width: 14rem;
  max-height: 14rem;
  object-fit: cover;
}

.title {
  margin-left: 5rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 2.6rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.5);
}

.navOptionsList {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: .7rem;
}

.nav-options {
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  margin: 0 2rem 0 2rem;
}

.nav-options:hover {
  background-color: #1c89c9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
  color: #fff;
  box-shadow: .5rem 0 .5rem rgba(0, 0, 0, 0.05),
              -.5rem -.5rem .5rem rgba(0, 0, 0, 0.05);

  text-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.5);
}

.homeMenuButton {
  align-self: flex-end;
  padding: 1rem;
  margin: 1rem 2rem 1rem 1rem;
}

@media (max-width: 1080px) {
  :root {
    font-size: 58%;
  }

  .nav-options {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 56%;
  }

  .nav-options {
    font-size: 2rem;
  }
}

@media (max-width: 991px) {
  #navbar-links {
    align-self: stretch;
    border-top: solid 2px rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    margin-top: 1rem;
  }

  .navOptionsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: 1rem;
    margin-right: 1rem; 
  }

  .navOptionsList > li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navOptionsList > li > a {
    color: #fff;
    flex: 1;
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
    margin: .5rem 0 .5rem 0;
    background-color: #1c89c9;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: .5rem 0 .5rem rgba(0, 0, 0, 0.05),
    -.5rem -.5rem .5rem rgba(0, 0, 0, 0.05);
    text-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.5);
  }

  .navOptionsList > li > a:hover {
    background-color: #1c89c9;
    border-radius: 0;
    box-shadow: none;
  }

  .navOptionsList > li > a:active {
    filter: brightness(0.9);
  }
}

@media (max-width: 930px) {
  :root {
    font-size: 54%;
  }
}

@media (max-width: 890px) {
  :root {
    font-size: 52%;
  }
}

@media (max-width: 860px) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 786px) {
  .navbar {
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .logo {
    margin: 0;
    margin-bottom: 3rem;
  }

  .title {
    margin: 0 1rem 0 1rem;
  }

  .nav-options {
    font-size: 2rem;
  }
}

@media (max-width: 644px) {
  .title {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

@media (max-width: 409) {
  .title {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
